<tr>
  <td> <input type="checkbox" value=""></td>
  <td> <%= item.name %></td>
  <td> <%= h_to_gold item.cost %></td>
  <td> <%= h_to_gold item.sale %> </td>
  <td> <%= h_to_gold item.profit %></td>
</tr>        
