<div class="two_third">
  <h2>All lists for <%= @profession.name %></h2>
</div>

<div class="one_third last">
  <%= link_to "New List", new_profession_list_url(@profession) %>
</div>

<hr>
<div class='clear'>
  
</div>
  
<section class='lists'>
  <%= render :partial => 'list' , :collection => @collection%>
  
  <% if @collection.empty? %>
  <h2>There are no lists for this profession</h2>
  <% end %>  
</section> <!-- end lists -->
  
